<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<div class="d-flex gap-2 justify-content-center py-5">
    <form action="/certificate/add" method="post">
        <input type="text" name="number" placeholder="Введите номер акта">
        <input type="text" name="date" placeholder="Введите дату">
        <input type="text" name="company" placeholder="Введите компанию">
        <input type="text" name="kind_of_work" placeholder="Введите вид работ">
        <input type="text" name="series" placeholder="Введите серию вагона">
        <input type="text" name="factory_name" placeholder="Введите заводской номер">
        <input type="text" name="section_index" placeholder="Введите индекс секции">
        <input type="text" name="home_depot" placeholder="Введите депо приписки">
        <input type="text" name="work_fact" placeholder="Введите факт проведения работ">
        <button type="submit">подтвердить</button>
    </form>
</div>
</body>
</html>